[core]
	editor = \"C:\\Users\\mario\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Malber117
	email = mario2181443@correo.uis.edu.co
